/* Carambola Website CSS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Remove default padding */
* {
	margin: 0;
	padding: 0;
}

:root {
	--main-colour: #0AFDEA;
	--main-colour-hover: #0AFDEA40;
	--main-colour-hoverb: #0AFDEA80;
	--main-colour-bg-bright: #004741;
	--main-colour-bg-bright-hover: #00474140;
	--main-colour-bg-bright-hoverb: #00474180;
	--main-colour-bg: #002624;
	--main-colour-bg-dark: #001917;
	--font-face: "Titillium Web", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
}

h1, h2, h3, h4, p, li, summary {
	font-family: var(--font-face);
	margin-top: 0.15em;
	margin-bottom: 0.5em;
}

h1 { font-size: 42pt; color: var(--main-colour); text-align: center; margin: 0.75em; margin-top: 0; text-shadow: 0 0 2em var(--main-colour-hoverb); }
h2 { font-size: 28pt; color: var(--main-colour); text-align: center; }
h3, summary { font-size: 20pt; font-weight: 400; border-bottom: 1px solid var(--main-colour-hover); padding-top: 0.8em; padding-bottom: 0.2em; }
h4 { font-size: 18pt; }
p, ul { font-size: 14pt; margin-bottom: 0.75em; }
ul { margin-left: 1.5em; }
.cb-quote { font-size: 20pt; line-height: 1.5; }

.left-align {
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}

code, pre {
	background: var(--main-colour-bg-dark);
	border-radius: 0.325em;
	padding: 0.325em;
	font-family: var(--font-mono);
}

.billboard {
	border-radius: 1.0em;
	width: 100%;
}

a {
	color: var(--main-colour);
	text-decoration-line: none;
	font-weight: bold;
	
	transition: color 0.2s, text-shadow 0.2s;
}

a:hover {
	color: #fff;
	text-shadow: 0 0 1.0em #fff8;
}

a.insecure-link::after {
	content: url("./lock_open.svg");
}

img {
	padding: 0;
}

::selection {
	background: var(--main-colour);
	color: #000;
}

body {
	background: var(--main-colour-bg);
	color: #fff;
}

.main-section {
	border: none;
	color: var(--main-colour);
	max-width: 75em;
	margin: auto;
	margin-top: 5em;
	padding: 1em;
	border-radius: 0.5em;
}

/* Interactive widgets */
input[type=text], input[type=password], textarea, select {
	background: var(--main-colour-bg-dark);
	border: none;
	border-radius: 0.5em;
	caret-color: var(--main-colour);
	color: var(--main-colour);
	font-family: var(--font-face);
	font-size: 14pt;
	padding: 0.5em;
	outline: none;
	width: 80%;
}

textarea {
	min-height: 10em;
	font-family: var(--font-mono);
}

.comment-edit textarea {
	width: 100%;
}

input[type=submit], button, .button {
	background: var(--main-colour);
	border: none;
	border-radius: 0.5em;
	color: #000;
	font-family: var(--font-face);
	font-size: 14pt;
	padding: 0.5em;
	outline: none;
	transition: background 0.1s, box-shadow 0.1s;
}

input[type=submit]:hover, button:hover, .button:hover {
	background: #fff;
	box-shadow: 0 0 1.0em #fff8;
}

.button.secondary {
	background: transparent;
	color: var(--main-colour);
}

.button.secondary:hover {
	background: var(--main-colour-bg-bright);
	box-shadow: none;
}

/* Warning */
.warning-main {
	background: var(--main-colour-bg-dark);
	border-radius: 0.5em;
	overflow: auto;
	padding: 0.5em;
}

.tip-main {
	background: var(--main-colour-bg-dark);
	border-radius: 0.5em;
	overflow: auto;
	padding: 0.5em;
}

.warning-left {
	float: left;
	width: 32px;
}

.warning-right {
	float: right;
	width: calc(100% - 32px - 1em);
	padding-left: 1em;
}

.news-article-card {
	background: var(--main-colour-bg-bright);
	border-radius: 0.5em;
	box-shadow: 0 0 3em var(--main-colour-bg-bright-hover);
	overflow: auto;
	padding: 0.5em;
	margin: 1em 0;
}

/* Since I am using the news-article-card for others things that might break if
 * I change this, I am just putting this here... */
.new-news-article-card {
	background: var(--main-colour-bg-bright);
	border-radius: 0.5em;
	box-shadow: 0 0 3em var(--main-colour-bg-bright-hover);
	overflow: auto;
	padding: 1em;
	margin: 0.25em 0.75em;
}

.staff-badge {
	background: #261e00;
	border-radius: 1em;
	color: #efbf00;
	padding: 0.0625em 0.25em;
}

.banned-badge {
	background: #260a00;
	border-radius: 1em;
	color: #ef4700;
	padding: 0.0625em 0.25em;
}

.verified-badge {
	background: #1b2600;
	border-radius: 1em;
	color: #a7ef00;
	padding: 0.0625em 0.25em;
}

/* Navbar */
.navbar-section {
	background: var(--main-colour-bg-dark);
	border: none;
	padding: 1em;
	position: fixed;
	top: 0;
	width: calc(100vw - 32px);
	z-index: 100;
}

@media (max-width: 1200px) {
	.navbar-section {
		top: 68px;
		display: none;
	}
}

.show-navbar-section {
	background: var(--main-colour-bg-dark);
	color: var(--main-colour);
	border: none;
	padding: 1em;
	position: fixed;
	top: 0;
	text-align: center;
	width: calc(100vw - 32px);
	z-index: 100;
}

@media (min-width: 1201px) {
	.show-navbar-section {
		display: none;
	}
}

.post-navbar-padding {
	padding-top: 1em;
}

.bottom-section {
	border: 1px solid var(--main-colour);
	border-radius: 0.5em;
	padding: 0.5em;
	margin-top: 1em;
}

.cb-top-item {
	margin: 0;
	padding: 0;
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-face);
	max-height: 64px; /* Why did this fix it? */
}

@media (max-width: 1200px) {
	.cb-top-item {
		display: block;
		margin-bottom: 1em;
	}
}

.toleft {
	margin-right: 0;
	margin-left: 1.0em;
}

.cb-logo-item {
	margin-right: 2em;
	font-size: 18pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-face);
	color: var(--main-colour);
}

.nc-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nc-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.top-section {
	border-top: none;
	border-radius: 0 0 0.5em 0.5em;
	margin-top: 0;
	vertical-align: middle;
	max-width: 50em;
}

.top-item {
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
}

/* This assumes that common.css has already been linked. */

.carambola-big {
	font-size: 24pt;
	font-weight: 700;
}

.carambola-download p {
	margin: 0;
}

.carambola-download {
	float: right;
	max-width: 20em;
	padding: 0.75em;
}

@keyframes glow {
	from {
		box-shadow: 0 0 2.5em var(--main-colour);
	}
	to {
		box-shadow: 0 0 3.25em var(--main-colour);
	}
}

.carambola-download-box {
	padding: 1em;
	border-radius: 0.5em;
	background: var(--main-colour);
	color: #000;
	cursor: pointer;
	overflow: auto;
	margin-bottom: 0.75em;
	transition: box-shadow 0.3s, background 0.3s;
}

.carambola-download-box:hover {
	background: #fff;
	animation-name: glow;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.carambola-download-box:active {
	background: #fff;
	box-shadow: 0 0 0 #00000080;
}

.carambola-download-left {
	float: left;
	width: 50px;
}

.carambola-download-right {
	float: right;
	width: calc(100% - 50px - 0.4em);
	padding-left: 0.4em;
}

.small-text {
	font-size: 10pt;
}

.mod-edit-property {
	display: grid;
	grid-template-columns: 35% auto;
	margin-bottom: 2em;
}

.mod-edit-property-label {
	grid-column: 1;
}

.mod-edit-property-data {
	grid-column: 2;
	margin-left: 1em;
}

.mod-property {
	display: grid;
	grid-template-columns: 25% auto;
	margin-bottom: 2em;
}

.mod-property-label {
	grid-column: 1;
}

.mod-property-data {
	grid-column: 2;
	margin-left: 1em;
}

.header-container {
	display: grid;
	grid-template-columns: auto auto;
	padding-right: 1em;
}

.header-container-left {
	grid-column: 1;
}

.header-container-right {
	grid-column: 2;
	text-align: right;
	height: 100%;
}

.article-body p {
	font-size: 16pt !important;
	line-height: 1.5;
}

.comment-card {
	background: var(--main-colour-bg-bright);
	border-radius: 0.5em;
	overflow: auto;
	padding: 1em;
	margin: 1em 0;
	
	transition: box-shadow 0.2s;
}

.comment-card:hover {
	box-shadow: 0 0 3em var(--main-colour-bg-bright-hoverb);
}

.comment-card-inner {
	display: grid;
	grid-template-columns: 56px auto;
}

.comment-card-inner-left {
	grid-column: 1;
}

.comment-card-inner-left img {
	width: 56px;
	height: 56px;
	border-radius: 28px;
}

.comment-card-inner-right {
	grid-column: 2;
	margin-left: 1em;
}

.profile-header-image-wrapper {
	text-align: center;
}

.profile-header-image {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.centred {
	text-align: center;
}
