@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
}

:root {
	--font-main: "Inter", sans-serif;
	--colour-background: #333333;
	--colour-background-text: #fff;
	--colour-primary: #0066ff;
	--colour-primary-background: #002255;
	--colour-primary-text: #fff;
	--border-radius: 0.325em;
	--shadow-dialogue: 0 0.75em 1em #0004;
}

body {
	background: var(--colour-background);
	color: var(--colour-background-text);
	font-family: var(--font-main);
}

.dialogue-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #0004;
}

.dialogue-outer {
	position: relative;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
}

.dialogue-box {
	background: var(--colour-background);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-dialogue);
	width: calc(100% - 3em);
	height: calc(100% - 3em);
	padding: 1.5em;
}
