/* Carambola Website CSS */
@import url('https://fonts.googleapis.com/css2?family=!(Font.Main.Escaped):wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Remove default padding */
* {
	margin: 0;
	padding: 0;
}

:root {
	--colour-primary: !(PrimaryColour);
	--colour-primary-darker: !(PrimaryColour.Darker);
	--colour-primary-hover: !(PrimaryColour.Hover);
	--colour-primary-a: !(PrimaryColour)40;
	--colour-primary-b: !(PrimaryColour)80;
	--colour-primary-c: !(PrimaryColour)c0;
	--colour-primary-text: !(PrimaryColour.Text);
	
	--colour-background-light: !(LightBackground);
	--colour-background-light-a: !(LightBackground)40;
	--colour-background-light-b: !(LightBackground)80;
	--colour-background-light-c: !(LightBackground)c0;
	--colour-background-light-text: !(LightBackground.Text);
	
	--colour-background: !(Background);
	--colour-background-a: !(Background)40;
	--colour-background-b: !(Background)80;
	--colour-background-c: !(Background)c0;
	--colour-background-text: !(Background.Text);
	
	--colour-background-dark: !(DarkBackground);
	--colour-background-dark-a: !(DarkBackground)40;
	--colour-background-dark-b: !(DarkBackground)80;
	--colour-background-dark-c: !(DarkBackground)c0;
	--colour-background-dark-text: !(DarkBackground.Text);
	--colour-background-dark-text-hover: !(DarkBackground.TextHover);
	
	--font-main: "!(Font.Main)", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
}

h1, h2, h3, h4, p, li, summary {
	font-family: var(--font-main);
	margin-top: 0.15em;
	margin-bottom: 0.5em;
}

h1 { font-size: 42pt; text-align: center; margin: 0.75em; margin-top: 0; text-shadow: 0 0 2em var(--colour-background-b); }
h2 { font-size: 28pt; text-align: center; }
h3 { font-size: 22pt; font-weight: 400; padding-top: 0.8em; padding-bottom: 0.2em; }
h4 { font-size: 18pt; }
p, ul { font-size: 14pt; margin-bottom: 0.75em; }
ul { margin-left: 1.5em; }
.cb-quote { font-size: 20pt; line-height: 1.5; }

.left-align {
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}

.right-align {
	text-align: right;
	margin-right: 0;
	padding-right: 0;
}

code, pre {
	background: var(--colour-background-dark-b);
	border-radius: 0.325em;
	padding: 0.325em;
	font-family: var(--font-mono);
}

.billboard {
	border-radius: 1.0em;
	width: 100%;
}

a {
	color: var(--colour-primary);
	text-decoration-line: none;
	font-weight: bold;
	
	transition: color 0.2s, text-shadow 0.2s;
}

a:hover {
	color: var(--colour-primary-hover);
	text-shadow: 0 0 1.0em var(--colour-primary-hover);
}

img {
	padding: 0;
}

::selection {
	background: var(--colour-primary);
	color: var(--colour-primary-text);
}

body {
	background: var(--colour-background);
	color: var(--colour-background-text);
}

.main-section {
	border: none;
	color: var(--colour-background-text);
	max-width: 75em;
	margin: auto;
	margin-top: 5em;
	padding: 1em;
	border-radius: 0.5em;
}

/* Interactive widgets */
input[type=text], input[type=password], textarea, select {
	background: var(--colour-background-dark-b);
	border: none;
	border-bottom: 2px solid var(--colour-background-light);
	border-radius: 0.5em 0.5em 0 0;
	caret-color: var(--colour-background-dark-text);
	color: var(--colour-background-dark-text);
	font-family: var(--font-main);
	font-size: 14pt;
	padding: 0.5em;
	outline: none;
	width: 90%;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	background: var(--colour-background-dark-c);
	border-bottom: 2px solid var(--colour-primary);
}

textarea {
	min-height: 10em;
	font-family: var(--font-mono);
}

.comment-edit textarea {
	width: 100%;
}

input[type=submit], button, .button {
	background: var(--colour-primary);
	border: none;
	border-radius: 1.25em;
	color: var(--colour-primary-text);
	cursor: pointer;
	font-family: var(--font-main);
	font-size: 14pt;
	padding: 0.5em 1.25em;
	outline: none;
	transition: background 0.1s, box-shadow 0.1s;
}

input[type=submit]:hover, button:hover, .button:hover {
	background: var(--colour-primary-darker);
	box-shadow: 0 !(Button.Glow.Offset) !(Button.Glow.Radius) var(--colour-primary-darker);
}

.button.secondary {
	background: transparent;
	border: 1px solid var(--colour-primary-a);
	color: var(--colour-primary);
}

.button.secondary:hover {
	background: var(--colour-primary-a);
	box-shadow: none;
}

.news-article-card {
	background: var(--colour-background-light);
	border-radius: 0.5em;
	box-shadow: 0 0 3em var(--colour-background-light-a);
	overflow: auto;
	padding: 0.5em;
	margin: 1em 0;
}

/* HACK:
 * 
 * Since I am using the news-article-card for others things that might break if
 * I change this, I am just putting this here... */
.new-news-article-card {
	background: var(--colour-background-light);
	border-radius: 0.5em;
	box-shadow: 0 0 3em var(--colour-background-light-a);
	overflow: auto;
	padding: 1em;
	margin: 0.25em 0.75em;
}

/* ==== COMMENT BADGES ==== */
.staff-badge {
	background: #261e00;
	border-radius: 1em;
	color: #efbf00;
	padding: 0.0625em 0.25em;
}

.banned-badge {
	background: #260a00;
	border-radius: 1em;
	color: #ef4700;
	padding: 0.0625em 0.25em;
}

.verified-badge {
	background: #1b2600;
	border-radius: 1em;
	color: #a7ef00;
	padding: 0.0625em 0.25em;
}

/* Navbar */
.navbar-section {
	background: var(--colour-background-dark);
	border: none;
	padding: 1em;
	position: fixed;
	top: 0;
	width: calc(100vw - 32px);
	z-index: 100;
	border-radius: 0 0 !(NavBar.Radius) !(NavBar.Radius);
}

.navbar-section a {
	color: var(--colour-background-dark-text);
}

@media (max-width: 1200px) {
	.navbar-section {
		top: 68px;
		display: none;
	}
}

.show-navbar-section {
	background: var(--colour-background-dark);
	color: var(--colour-background-dark-text);
	border: none;
	padding: 1em;
	position: fixed;
	top: 0;
	text-align: center;
	width: calc(100vw - 32px);
	z-index: 100;
}

@media (min-width: 1201px) {
	.show-navbar-section {
		display: none;
	}
}

.post-navbar-padding {
	padding-top: 1em;
}

/* NOTE Changed this from a typo - did it maybe break something? */
.navbar-profile {
	position: relative;
	top: 5px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

/* ============ */

.bottom-section {
	background: var(--colour-background-light);
	border-radius: 0.5em;
	padding: 1em;
	margin-top: 1em;
}

.cb-top-item { /* TODO Rename to navbar-item */
	margin: 0;
	padding: 0;
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-main);
	max-height: 64px; /* Why did this fix it? */
}

@media (max-width: 1200px) {
	.cb-top-item {
		display: block;
		margin-bottom: 1em;
	}
}

.toleft {
	margin-right: 0;
	margin-left: 1.0em;
}

.cb-logo-item { /* TODO Rename to navbar-logo */
	margin-right: 2em;
	font-size: 18pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-main);
	color: var(--colour-background-dark-text);
}

.nc-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nc-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.top-section {
	border-top: none;
	border-radius: 0 0 0.5em 0.5em;
	margin-top: 0;
	vertical-align: middle;
	max-width: 50em;
}

.top-item {
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
}

/* This assumes that common.css has already been linked. */

.carambola-big {
	font-size: 24pt;
	font-weight: 700;
}

.small-text {
	font-size: 10pt;
}

/* ************************************************************************** */

.mod-edit-property {
	display: grid;
	grid-template-columns: 35% auto;
	margin-bottom: 2em;
}

.mod-edit-property-label {
	grid-column: 1;
}

.mod-edit-property-data {
	grid-column: 2;
	margin-left: 1em;
}

.mod-property {
	display: grid;
	grid-template-columns: 25% auto;
	margin-bottom: 2em;
}

.mod-property-label {
	grid-column: 1;
}

.mod-property-data {
	grid-column: 2;
	margin-left: 1em;
}

.comments-header {
	display: grid;
	grid-template-columns: 25% auto;
}

.comments-header-label {
	grid-column: 1;
}

.comments-header-data {
	grid-column: 2;
}

.header-container {
	display: grid;
	grid-template-columns: auto auto;
	padding-right: 1em;
}

.header-container-left {
	grid-column: 1;
}

.header-container-right {
	grid-column: 2;
	text-align: right;
	height: 100%;
}

.article-body p {
	font-size: 16pt !important;
	line-height: 1.5;
}

.comment-card {
	/* TODO Consider removing the seperation between comments and the rest
	 * of the page. */
	background: var(--colour-background-light);
	border-radius: 0.5em;
	overflow: auto;
	padding: 1em;
	margin: 1em 0;
}

.comment-card-inner {
	display: grid;
	grid-template-columns: 56px auto;
}

.comment-card-inner-left {
	grid-column: 1;
}

.comment-card-inner-left img {
	width: 56px;
	height: 56px;
	border-radius: 28px;
}

.comment-card-inner-right {
	grid-column: 2;
	margin-left: 1em;
}

.profile-header-image-wrapper {
	text-align: center;
}

.profile-header-image {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.centred {
	text-align: center;
}

.auth-form-box {
	background: var(--colour-background-dark-a);
	border-radius: 0.5em;
	box-shadow: 0 0.3em 0.4em var(--colour-background-dark-c);
	padding: 1.0em;
	margin: auto;
	margin-bottom: 4.0em;
	max-width: 40em;
}

/* blockquote */

blockquote {
	border-left: 0.2em solid var(--colour-primary-b);
	padding-left: 0.5em;
}

/**
 * Editor styles
 */

.editor-main {
	position: fixed;
	top: 71.5px;
	left: 0;
	height: calc(100vh - 71.5px);
	width: 100%;
	background: var(--colour-background);
	z-index: 90;
}

.editor-main-toolbar {
	display: grid;
	grid-template-columns: 3.5em auto 10em 8em;
	height: 3.5em;
	width: 100%;
	background: var(--colour-background-dark);
}

.editor-main-toolbar-back {
	grid-column: 1;
}

.editor-main-toolbar-title {
	grid-column: 2;
}

.editor-main-toolbar-visible {
	grid-column: 3;
	text-align: right;
}

.editor-main-toolbar-button {
	grid-column: 4;
	text-align: right;
}

.editor-main-text {
	height: calc(100% - 3.5em);
	width: 100%;
}

.editor-main-text-box {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.editor-main-text-box:focus {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.editor-main-control {
	height: 100%;
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.editor-main-control:focus {
	border: none;
	border-bottom: none;
}

.editor-main-control-title {
	padding-left: 0.5em !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-right: 0px !important;
	border: none !important;
	width: 100% !important;
}

.editor-main-control-submit {
	border-radius: 0 !important;
	width: 100%;
	height: 100%;
}

.editor-main-control-back {
	border-radius: 0;
	border: none !important;
	width: 100%;
	height: 100%;
}
